body{
  font-family: 'Kallisto';
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Kallisto';
  font-weight: 900;
}

.container{
  max-width: 1370px;
  padding-left: 30px;
  padding-right: 30px;
}
.site-header .container{
  max-width: 1150px;
}
/* header css */
.site-header .counter{
  right: 13px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 21px;
  font-size: 8px;
  background: #EFFF00;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  letter-spacing: 0;
}
/* End header css */