:root {
  --primary-color: #efff00;
  --font-family-Kallisto: 'Kallisto';
}

body {
  font-family: var(--font-family-Kallisto);
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-Kallisto);
  font-weight: 900;
}

p {
  margin-bottom: 15px;
}
P:last-child {
  margin-bottom: 0;
}
/* container css */
.container {
  max-width: 1370px;
  padding-left: 30px;
  padding-right: 30px;
}
.site-header .container {
  max-width: 1150px;
}
@media (max-width: 1279px) {
  .container,
  .site-header .container {
    max-width: 940px;
  }
}
@media (max-width: 1023px) {
  .container,
  .site-header .container {
    max-width: 730px;
  }
}
@media (max-width: 767px) {
  .container,
  .site-header .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* End container css */
.primary-color {
  color: var(--primary-color);
}
.primary-bg-color {
  background-color: var(--primary-color);
}
a:hover {
  color: var(--primary-color);
}
.border-primary {
  border-color: var(--primary-color);
}
.border-primary {
  border-color: var(--primary-color);
}
.outline-primary {
  outline-color: var(--primary-color);
}
/* header css */
.site-header {
  border-bottom: 4px solid var(--primary-color);
}
.site-header .counter,
.mobile-header .counter {
  right: 13px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 21px;
  font-size: 8px;
  background: var(--primary-color);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  letter-spacing: 0;
  font-weight: 900;
}
.fsb_bar {
  color: var(--primary-color);
}
.main-navbar .nav-item .nav-link {
  border-bottom: 8px solid transparent;
}
.main-navbar .nav-item:hover .nav-link {
  border-bottom: 8px solid var(--primary-color);
}
/* mega menu css */
.main-navbar .nav-item:hover > .mega-menu {
  display: block;
}
.mega-menu {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100%;
  width: 100vw;
  border-top: 2px solid var(--primary-color);
}
.mega-menu .sub-menu-item {
  max-width: 280px;
}
/* End mega menu css */

/* mobile header css */
.mobile-menu-Drawer .nav-link {
  border-top: 1px solid var(--primary-color);
}
.mobile-menu-Drawer .nav-item:last-child .nav-link {
  border-bottom: 1px solid var(--primary-color);
}
.mobile-menu-Drawer .close-btn {
  color: var(--primary-color);
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  top: -34px;
}
.mobile-menu-Drawer .close-btn svg {
  width: 100%;
  height: 100%;
}
.mobile-menu-Drawer #cart-contents {
  display: none;
}
.mobile-search .form-control {
  border: 1px solid var(--primary-color);
}
.mobile-menu-Drawer .nav-item.active > .mega-menu {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  right: auto;
  left: auto;
  animation: auto;
  padding: 20px 0;
  border-top: 1px solid var(--primary-color);
}
.mobile-menu-Drawer .mega-menu .sub-menu-item {
  max-width: 100%;
}
.mobile-menu-Drawer .nav-item.active .toggle-btn {
  color: var(--primary-color);
}
.mobile-menu-Drawer .nav-item.active .toggle-btn svg {
  transform: rotate(180deg);
}
.mobile-menu-Drawer .mega-menu .sub-menu .sub-menu-item .sub-menu-items {
  display: none;
}
.mobile-menu-Drawer .mega-menu .sub-menu .toggle-btn svg {
  transform: rotate(-90deg);
}
.mobile-menu-Drawer .mega-menu .sub-menu .sub-menu-item.active .toggle-btn svg {
  transform: rotate(0deg);
}
.mobile-menu-Drawer .mega-menu .sub-menu .sub-menu-item.active .sub-menu-items {
  display: block;
}
/* End mobile header css */

/* End header css */

/* footer css */
.site-footer .social-links a svg,
.site-footer .social-links a svg img {
  width: 44px;
  height: 44px;
  object-fit: contain;
  fill: var(--primary-color);
}
.site-footer .social-links a:hover {
  opacity: 0.75;
}
.site-footer .social-links a {
  color: var(--primary-color);
}
.site-footer .subscribe-form .submit-btn {
  background-color: var(--primary-color);
}
.site-footer .subscribe-form input {
  border-color: var(--primary-color);
}
.site-footer .subscribe-form .note {
  font-size: 10px;
}
.site-footer {
  border-top: 5px solid var(--primary-color);
}
.site-footer .copyright-wrap p {
  font-size: 10px;
}
@media (max-width: 1280px) {
  .site-footer .social-links a svg,
  .site-footer .social-links a svg img {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 639px) {
  .site-footer .footer-col .col-inner .nav-bar {
    display: none;
  }
  .site-footer .footer-col .col-inner.active .nav-bar {
    display: block;
  }
  .site-footer .footer-col .col-inner.active .toggle-btn svg {
    transform: rotate(180deg);
  }
  .site-footer .footer-col .col-inner {
    padding: 20px 0px 20px;
    border-bottom: 1px solid var(--primary-color);
  }
  .site-footer .footer-col.form-col .col-inner {
    padding-top: 0;
  }
  .site-footer .footer-col .col-inner .nav-bar {
    padding: 20px 0px 10px;
  }
  .site-footer .social-links a svg,
  .site-footer .social-links a svg img {
    width: 44px;
    height: 44px;
  }
}
/* End footer css */

/* hero banner section */
.hero-banner .btn {
  border-bottom: 3px solid var(--primary-color);
}
/* End hero banner section */

/* featureHomeProduct section*/
.sec-title {
  font-size: 26px;
}
.featureHomeProduct-section .swiper-button-next,
.featureHomeProduct-section .swiper-button-prev {
  display: none;
}
@media (max-width: 767px) {
  .featureHomeProduct-section .swiper {
    width: calc(100% + 15px);
  }
  .sec-title {
    font-size: 22px;
  }
}
/* End featureHomeProduct section*/

/* card css */

.card-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}

.card-image img {
  aspect-ratio: inherit;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
/* End card css */

/* styleGuide-section */
.styleGuide-section .swiper-slide {
  height: auto;
}
.styleGuide-section .swiper-button-next,
.styleGuide-section .swiper-button-prev {
  display: none;
}
.styleGuide-section .swiper-slide:nth-child(even) .items {
  border-top: 15px solid #000;
  border-bottom: 15px solid var(--primary-color);
}
.styleGuide-section .swiper-slide:nth-child(odd) .items {
  border-bottom: 15px solid #000;
  border-top: 15px solid var(--primary-color);
}
@media (max-width: 767px) {
  .styleGuide-section .swiper {
    width: calc(100% + 15px);
  }
  .styleGuide-section .swiper-slide:nth-child(even) .items {
    border-top: 10px solid #000;
    border-bottom: 10px solid var(--primary-color);
  }
  .styleGuide-section .swiper-slide:nth-child(odd) .items {
    border-bottom: 10px solid #000;
    border-top: 10px solid var(--primary-color);
  }
}
/*End styleGuide-section */

/* topSaleHomeProduct-section */

/* End topSaleHomeProduct-section */

/* image-with-text section */
.image-with-text .btn {
  border-bottom: 3px solid var(--primary-color);
}
@media (min-width: 768px) {
  .image-with-text .btn {
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .image-with-text .btn br {
    display: none;
  }
}
/* End image-with-text section */

/* collection page css */
@media (min-width: 1280px) {
  .product-items .product-item:nth-child(17n + 5),
  .product-items .product-item:nth-child(17n + 6) {
    width: 50%;
  }

  .product-items .product-item:nth-child(17n + 11),
  .product-items .product-item:nth-child(17n + 12),
  .product-items .product-item:nth-child(17n + 13) {
    width: 33.33%;
  }
}
@media (max-width: 1279px) and (min-width: 1024px) {
  .product-items .product-item:nth-child(8n + 4),
  .product-items .product-item:nth-child(8n + 5) {
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .product-items .product-item:nth-child(5n + 3) {
    width: 100%;
  }
}
/* collection page css */

/* filtter css */
@media (min-width: 1024px) {
  .fillter-dropdown-wrap {
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100%;
    width: 100vw;
    background-color: var(--primary-color);
  }
  .filter-item .btn.active::before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translate(-50%);
  }
}
.filter-item .btn svg,
.sortby-wrap svg,
.filter-toggle-btn svg {
  width: 30px;
  height: 30px;
}
.filter-toggle-btn {
  width: calc(100% - 40px);
}
@media (max-width: 1023px) {
  .sortFilter-wrap .filter-wrap-main {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 512px;
    background-color: var(--primary-color);
    transition: all 0.5s;
    opacity: 0;
    z-index: -1;
  }
  .sortFilter-wrap .filter-wrap-main.active {
    z-index: 55;
    left: 0;
    opacity: 1;
  }
  .sortFilter-wrap .filter-wrap-main .fillters-wrap {
    width: 100%;
    height: 100%;
    flex-flow: column;
  }
  .sortFilter-wrap .filter-wrap-main .fillters-wrap .fillter-dropdown-wrap {
    background: transparent;
    position: relative;
  }
  .sortFilter-wrap .filter-wrap-main .fillters-wrap .container {
    padding-left: 0;
    margin-right: 0;
  }
  .sortFilter-wrap .filter-wrap-main .fillters-wrap .btn {
    justify-content: space-between;
    width: 100%;
  }
  .sortFilter-wrap .filter-wrap-main .fillters-wrap .filter-item {
    border-bottom: 1px solid #fff;
  }
}
/* End filtter css */

/* single product page  */
.product-gallery-wrap .slider__col {
  width: 90px;
}
.product-gallery-wrap .slider__images {
  width: calc(100% - 90px);
  padding-left: 20px;
  padding-right: 20px;
}
.product-gallery-wrap .slider__col .swiper-slide {
  border: 2px solid #efefef;
  height: 95px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product-gallery-wrap .slider__col .swiper-slide > div {
  height: 100%;
  width: 100%;
}
.product-gallery-wrap .slider__col .swiper-slide-thumb-active {
  border: 2px solid #000;
}
.product-gallery-wrap .slider__images .swiper-button-next,
.product-gallery-wrap .slider__images .swiper-button-prev {
  display: none;
}
.product-gallery-wrap .slider__images .swiper-slide {
  background-color: #efefef;
}
.product-info-wrap .add-to-cart-btn {
  border-bottom: 3px solid var(--primary-color);
}
.product-info-wrap .Wishlist-btn {
  border-bottom-width: 3px;
}
.description-wrap p {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .product-gallery-wrap .slider__images {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-left: 0;
    padding-right: 0;
  }
  .product-gallery-wrap .slider__col {
    width: 100%;
  }
  .product-gallery-wrap .slider__col .swiper-slide {
    width: 80px;
    height: 80px;
  }
}
/* End single product page  */

/* countdown-sec  */
@media (min-width: 768px) {
  .countdown-sec .bottom-info h2 br {
    display: none;
  }
}
/* End countdown-sec  */ 
  